<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

<!-- <div class="container">

    <h2>My ToDo List </h2>
    <br/>

    <form role="form" ng-click="addTodo()">
        <div class="row">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="todo.title"  placeholder="What I need to do...">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Add">
                </span>
            </div>
        </div>
    </form>
    <br/>
    <hr/>

    <!-- List -->

<!-- <p class="input-group" ng-repeat="todo in todos">
       <input type="text" ng-model="todo.title" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-danger" ng-click="removeTodo(todo._id)" aria-label="Remove">X</button>
        </span>
    </p>

</div>