
<div class="todo-wrapper">

    <h2>You've got <span class="emphasis">{{getTotalTodos()}}</span>things to do</h2>

    <form>
        <input class="add-input" placeholder="I need to..." type="text" ng-model="formTodoText" />
        <button class="add-btn" ng-click="addTodo()"><h2>ADD</h2></button>
    </form>


    <ul>
        <li ng-repeat="todo in todos" >
            <input type="checkbox" ng-model="todo.done"/>
            <span class="done-{{todo.done}}">{{todo.todo}}</span>
            <span id="date"> Created on: {{ todo.dateCreated | date:'fullDate' }}</span>
        </li>
    </ul>

    <button class="clear-btn" ng-click="removeTodo()">Clear complete</button>

</div>
